@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Outfit, sans-serif;
    background-color: hsl(217, 54%, 11%);
    }

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

.container {
    max-width: 375px; /*Посмотреть результат на 350px*/
    border: 1px rgb(238, 26, 26) solid;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
       
}

.image img {
    height: auto;
    width: 335px; /*Ширина определена 375 ширина моб.изобр - 40px отступы*/
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 30px;
    }

.content {
    border: 1px green solid;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    }

.content h1 {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}

.content p {
    font-family: Outfit, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.price {
    /* display: grid;
    grid-template-columns: repeat(4, auto); */
    padding-right: 20px;
    padding-left: 20px;
    justify-content: start;
    margin: 0;
}

.price-img {
    /* padding-top: 20px; */
    font-family: Outfit, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: hsl(178, 100%, 50%);
    /* padding-left: 8px; */

}

.price-clock {
    /* padding-top: 21px; */
    font-family: Outfit, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.line {
    border: 1px green solid;

}

.avatar {
    border: 1px green solid;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-right: 20px;
    padding-left: 20px;
    justify-content: start;
    margin: 0;
}

.avatar-img img {
    width: 25%;
    /* padding-top: 14px; */
    font-family: Outfit, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}